[user]
  email = pcaisse@gmail.com
  name = Peter Caisse
[core]
  excludesfile = ~/.gitignore
[push]
  default = simple
[alias]
  l = log --graph --oneline
  lp = log -p
  lf = log -u
  cp = cherry-pick
  st = status
  cl = clone
  ci = commit -v
  co = checkout
  br = branch
  d = diff
  dc = diff --cached
  amend = commit --amend --no-edit
